<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-electron-sqlite" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova.electron.sqlite</name>
    <js-module name="cordova.electron.sqlite" src="www/cordova.electron.sqlite.js">
        <clobbers target="cordova.plugins.CordovaElectronSqlite" />
    </js-module>
    <platform name="electron">
        <framework src="src/electron"/>
    </platform>
</plugin>
