<ion-app>
    <ion-content>
      <ion-button (click)="toggleSound()">{{ playing ? 'STOP' : 'PLAY' }}</ion-button>
      <ion-button (click)="togglePDF()">{{ viewerInstance ? 'VIEW' : 'CLOSE' }} PDF</ion-button>
      <div class="pdf-viewer">
        <div id="pspdfkit-container" style="width: 100%; height: 100vh"></div>
      </div>

      <!-- <ion-list id="labels-list">
        <ion-list-header>Tasks</ion-list-header>

        <ion-item *ngFor="let task of tasks" lines="none">
          <ion-label>{{ task }}</ion-label>
        </ion-item>
      </ion-list> -->
    </ion-content>
</ion-app>
